<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYEJS</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/app.js" defer></script>
    <!-- Add defer attribute to ensure the script is executed after the DOM is parsed -->
</head>
